html,body {
  height: 100%;
  /*background:gray;*/
  color:white;
}

body
{
	background:#e6e8ed;
}

/*jumbutron*/
.jumbotron 
{
	background:rgb(48, 109, 209);
}
#personPic
{
	height:11em;
	width:11em;
	/*display:inline-block;*/
}

#personName
{
	color:white;
	float:right;

}

div.jumbotron div
{
	width:45em;
	/*text-align:left;*/
	margin-right:32.2em;
}


.BioColumns 
{

	 /*border: 5px solid red;*/
	 /*padding-bottom:1em;*/
	 background:rgb(60, 117, 10);
	 /*height:12em;*/
}
/*#GridContainer
{
	background:pink;
	

}*/

.ROWS
{
	width:60em;
	background:white;
	padding-bottom:0.2em;
	border: 5px solid yellow;


}

#Experience
{
	color:black;
}

.CourseList
{

	/*border: 5px solid red;*/
	overflow-x: hidden; /* Hide horizontal scrollbar */
  	overflow-y: scroll; /* Add vertical scrollbar */
  	width:1em;
  	height:15em;
  	background:rgb(60, 117, 10);
}


.ExperienceCol
{

	/*border: 5px solid red;*/
	overflow-x: scroll; /* Hide horizontal scrollbar */
  	overflow-y: hidden; /* Add vertical scrollbar */
  	width:1em;
  	height:15em;
  	background:rgb(60, 117, 10);
}

.ExperienceSection
{
	display:block;
	width:45em;
	text-align:center;

}



